<section id="background-overlay">
    <div class="cs-container c-background-overlay">
        <div class="cs-content">
            {% if overlay_image %}
            <img src="{{ overlay-image}}" width="600" height="auto"
            class="agglogo"
            alt="Aggtrans Logo">
      {% endif %}
        </div>
    </div>



    <!-- Background Image -->
    <picture class="cs-background">
         {% if bg_image %}
        <img loading="eager" decoding="async" src="{{ bg_image}}" alt="loading" width="1920" height="1200" aria-hidden="true">
          {% endif %}
    </picture>
    </section>